/* 价格，数字与小数点为外层的1em大小，币种符号为外层的0.48em大小*/
.jfk-price {
  letter-spacing: -0.31em;
  > i{
    display: inline-block;
  }
  &__number{
    letter-spacing: -0.11em;
    font-size: 1em;
  }
  &__currency {
    letter-spacing: normal;
  }
  &__original{
    @mixin one-line horizontal {
      top: 50%;
      left: 0;
      background-color: currentColor;
    }
  }
}