.jfk-pages__roomDel{

  .swich_bar{
    width: 100%;
    margin-top: px2rem(20);
    span{
      width: 49%;
      display: inline-block;
      height: px2rem(80);
      line-height: px2rem(80);
      text-align: center;
    }
  }

  .detail_word{
    margin-top: px2rem(50);

    &_item{
      margin-top: px2rem(50);
    }

    .desc{
      margin: px2rem(50) 0;
    }
  }

  .room_int{
    margin-top: px2rem(50); 
  }
  






}






































