@import '../../../../../common/postcss/variable/common.postcss';
@import '../variable/common.postcss';
@import '../../../../../common/postcss/variable/dark.postcss';
@import '../variable/dark.postcss';
@import '../../../../../common/postcss/placeholder/common.postcss';
@import '../placeholder/common.postcss';
@import '../../../../../common/postcss/placeholder/dark.postcss';
@import '../placeholder/dark.postcss';
@import '../../../../../common/postcss/mixins/common.postcss';
@import '../mixins/common.postcss';
@import '../../../../../common/postcss/mixins/dark.postcss';
@import '../mixins/dark.postcss';
@import '../../../../../common/postcss/modules/bodyBgColor/dark.postcss';
@import '../../../../../common/postcss/modules/imageLazy/dark.postcss';
@import '../../../../../common/postcss/modules/support/dark.postcss';
@import '../../../../../common/postcss/modules/banner/dark.postcss';
@import '../../../../../common/postcss/modules/messageBox/dark.postcss';
@import '../../../../../common/postcss/modules/toast/dark.postcss';
@import '../../../../../common/postcss/modules/form/dark.postcss';
@import '../../../../../common/postcss/modules/calendar/dark.postcss';
@import '../../../../../common/postcss/modules/notification/dark.postcss';
@import '../../../../../common/postcss/modules/picker/dark.postcss';
@import './theme.postcss';

