.jfk-calendar {
  &__tools {
    .switch-month {
      &.is-disabled {
        color: #bfbfbf;
      }
    }
  }
  &__thead {
    &:before {
      background-color: #ebebeb;
    }
  }
  &__row {
    &.is-disabled {
      .jfk-calendar {
        &__number, &__content {
          color: #bfbfbf;
        }
      }
    }
    &.is-selected,&.is-range {
      .jfk-calendar{
        &__value {
          .date {
            color: #fff;
          }
        }
      }
    }
  }
}