  .jfk-pages__roomDesc{
    border: px2rem(30) solid var(--color-white);
    .room_desc_ul_container{
      .room_desc_ul{
        &::before {
        background-color: var(--line-color-extra-light-silver);
        }
      }
    }
  }






































