.jfk-support {
  opacity: 0.7;
  &__logo {
    background-image: url(../../../assets/image/jperation.png);
    &-box {
      &:after,&:before{
        background-color: color(#363636 a(40%));
      }
    }
  }
  &__info {
    color: #333;
  }
}