.jfk-pages__scan-receive {

  .scan-receive {

    &__container {
      background-color: #1f1f1f;
    }

    &__way {
      color: var(--font-color-extra-light-gray);
      span {
        color: var(--font-color-light-gray);
      }
    }
  }

}
