.jfk-pages__scan-receive {

  .scan-receive {

    &__container {
      background-color: var(--color-white);
      box-shadow: 0 0 1em rgba(178, 148, 94, 0.15);
    }

    &__way {
      color: var(--font-color-extra-light-gray);
      span {
        color: var(--font-color-light-gray);
      }
    }
  }

}
