.jfk-menuList{
    margin-top: px2rem(60);
    .menu-inn{
        align-items: center;
        justify-content: space-between;
        .item{
            text-align: center;
            &>a{
                display: block;
            }
            i{
                font-size: px2rem(60);
                color: #b3945e;
            }
            p{
                margin-top: px2rem(20);
                color: #bfbfbf;
            }
        }
    }
}