.jfk-menuList{
    .menu-inn{
        border-top: 1px solid #ebebeb;
        .item{
            text-align: center;
            &>a{
                display: block;
            }
            i{
                font-size: px2rem(60);
            }
            p{
                margin-top: px2rem(20);
                color: #808080;
            }
        }
    }
}