.jfk-pages__hotelAlbum {
  .hotel-pictures__items {
    background-color: #fff;
  }
  .hotel-pictures__title:before {
    background-color: var(--font-color-light-gray);
  }
  .hotel-pictures__title {
    color: var(--font-color-dark-white);
  }
  .hotel-pictures__pagination {
    .current {
      color: var(--font-color-dark-white);
    }
    .total {
      color: var(--font-color-light-gray);
    }
  }
}
