/* 扩展el-button */
.jfk-button {
  &-tag-a{
    a{
      text-decoration: none;
    }
    &:not(.is-plain){
      &.el-button {
        &--primary,&--info {
          a {
            color: var(--color-white);
          }
        }
      }
    }
    &.is-plain {
      &.el-button{
        &--primary{
          a {
            color: var(--color-primary);
          }
        }
        &--info {
          a {
            color: var(--color-base-black);
            &:hover{
              color: var(--color-info);
            }
          }
        }
      }
    }
  }
  &--large {
    padding: {
      left: 75px;
      right: 75px;
    }
  }
  &--middle {
    padding: {
      left: 38px;
      right: 38px;
    }
  }
}