.pancake-tabbar {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: px2rem(100);
  background: #1f1f1f;
  z-index: 100;
  .tabbar {
    &-list {
      height: 100%;
    }
    &-item {
      &__label {
        margin-top: -0.2em;
        line-height: 1;
      }
    }
  }
}