.orderInfo{
    .moreinfo__item{
        .item__name{
            color: #bfbfbf;
        }
        .item__value{
            color: #fff;
        }
        .item__showTrade{
            color: #bfbfbf;
        }
    }
}