.jfk-msgbox{
  &__cancel {
    @mixin button default, true;
  }
  &__input {
    input {
      border: 1px solid #474747;
      &::placeholder {
        color: var(--font-color-light-gray);
      }
    }
  }
}