.jfk-msgbox{
  &__cancel {
    @mixin button default, true;
    border-color: #1a1a1a;
  }
  &__input {
    input {
      border: 1px solid #e0e0e0;
      &::placeholder {
        color: var(--font-color-light-gray);
      }
    }
  }
}