.jfk-clause {
  &__title {
    color: var(--font-color-extra-light-gray-common);
    span {
      &::after {
        background-color: var(--line-color-light-silver);
      }
      &::before {
        background-color: var(--line-color-light-silver);
      }
    }
  }

  &__list {
    li {
      color: var(--font-color-extra-light-gray-common);
    }
  }
}
