.jfk-clause {
  &__title {
    color: var(--font-color-dark-white);
    span {
      &::after {
        background-color: #e0e0e0;
      }
      &::before {
        background-color: #e0e0e0;
      }
    }
  }

  &__list {
    li {
      color: var(--font-color-light-gray-common);
    }
  }
}
