:root {
  /*主色*/
  --color-golden: #b2945e;
  --color-golden-price: #b2945e;
  --color-pale-yellow: #dac576;
  --color-deep-yellow: #1a1a1a;

  --color-golden-price-novotel: #7577b7;
  --color-golden-price-fairmont: #97824b;
  --color-golden-price-pullman: #d3b488;
  --color-golden-price-raffles: #bfcc80;
  --color-golden-price-sofitel: #997300;
  --color-golden-price-swissotel: #c94235;
  --color-golden-price-mercure: #998646;

  --color-golden-novotel: #20255f;
  --color-golden-fairmont: #000;
  --color-golden-pullman: #3d3c3c;
  --color-golden-raffles: #50a790;
  --color-golden-sofitel: #291f1d;
  --color-golden-swissotel: #1b1919;
  --color-golden-mercure: #5b2b5f;

  /*辅助色*/
  --color-danger: #a81c1c;
  --color-warning: #9e5228;
  --color-light-black: #f6f7f7;
  --color-white: #fff;

  /*文字色*/
  --font-color-white: #333;
  --font-color-dark-white: #333;
  --font-color-extra-light-gray: #808080;
  --font-color-light-gray: #bfbfbf;
  --font-color-silver: #bfbfbf;
  --font-color-light-silver: #666;

  /* 不分主题 颜色固定 */
  --font-color-silver-common: #333;
  --font-color-light-gray-common: #808080;
  --font-color-extra-light-gray-common: #bfbfbf;

  /*分割线与弹窗色值*/
  --line-color-light-silver: #ebebeb;
  --line-color-extra-light-silver: #ebebeb;
  --line-color-gray: #ebebeb;
  --line-color-extra-light-black: #fff;

  /* 按钮 */
  --button-base-height: 90;
  --button-lower-height: 64;
  --button-higher-height: 100;
  --button-border-radius: 3; 
  /*默认*/
  --button-default-fill-color: transparent;
  --button-default-color: #1a1a1a;
  --button-default-border: #1f1f1f;

  /* primary */
  --button-primary-fill-color: #1f1f1f;
  --button-primary-color: #fff;
  --button-primary-border: #1f1f1f;
  --button-primary-plain-color: #1a1a1a;
  --button-primary-special-color: #fff;
  --button-primary-special-fill-color: #1f1f1f;
  --button-primary-special-border: #1f1f1f;
  /* ghost */
  --button-ghost-fill-color: transparent;
  --button-ghost-color: #1f1f1f;
  --button-ghost-border: transparent;

    /* Suspension */
  --button-suspension-fill-color: #b2945e;
  --button-suspension-color: #fff;
  --button-suspension-border: #b2945e;
  --button-suspension-plain-color: #fff; 

  /* disabled */
  --button-disabled-color: #808080;
  --button-disabled-border: color(#bfbfbf a(60%));
  --button-disabled-fill-color: color(#bfbfbf a(60%));

  /*默认*/
  --button-default-color-novotel: #20255f;
  --button-default-border-novotel: #20255f;

  /* primary */
  --button-primary-fill-color-novotel: #20255f;
  --button-primary-border-novotel: #20255f;
  --button-primary-plain-color-novotel: #20255f;
  --button-primary-special-fill-color-novotel: #20255f;
  --button-primary-special-border-novotel: #20255f;

    /* primary */
  --button-suspension-fill-color-novotel: #20255f;
  --button-suspension-border-novotel: #20255f;
  --button-suspension-plain-color-novotel: #20255f;

  /*默认*/
  --button-default-color-fairmont: #000;
  --button-default-border-fairmont: #000;

  /* primary */
  --button-primary-fill-color-fairmont: #000;
  --button-primary-border-fairmont: #000;
  --button-primary-plain-color-fairmont: #000;
  --button-primary-special-fill-color-fairmont: #000;
  --button-primary-special-border-fairmont: #000;
    /* primary */
  --button-suspension-fill-color-fairmont: #000;
  --button-suspension-border-fairmont: #000;
  --button-suspension-plain-color-fairmont: #000;

  /*默认*/
  --button-default-color-pullman: #3d3c3c;
  --button-default-border-pullman: #3d3c3c;

  /* primary */
  --button-primary-fill-color-pullman: #3d3c3c;
  --button-primary-border-pullman: #3d3c3c;
  --button-primary-plain-color-pullman: #3d3c3c;
  --button-primary-special-fill-color-pullman: #3d3c3c;
  --button-primary-special-border-pullman: #3d3c3c;
  /* primary */
  --button-suspension-fill-color-pullman: #3d3c3c;
  --button-suspension-border-pullman: #3d3c3c;
  --button-suspension-plain-color-pullman: #3d3c3c;

  /*默认*/
  --button-default-color-raffles: #50a790;
  --button-default-border-raffles: #50a790;

  /* primary */
  --button-primary-fill-color-raffles: #50a790;
  --button-primary-border-raffles: #50a790;
  --button-primary-plain-color-raffles: #50a790;
  --button-primary-special-fill-color-raffles: #50a790;
  --button-primary-special-border-raffles: #50a790;
  /* primary */
  --button-suspension-fill-color-raffles: #50a790;
  --button-suspension-border-raffles: #50a790;
  --button-suspension-plain-color-raffles: #50a790;

  /*默认*/
  --button-default-color-sofitel: #291f1d;
  --button-default-border-sofitel: #291f1d;

  /* primary */
  --button-primary-fill-color-sofitel: #291f1d;
  --button-primary-border-sofitel: #291f1d;
  --button-primary-plain-color-sofitel: #291f1d;
  --button-primary-special-fill-color-sofitel: #291f1d;
  --button-primary-special-border-sofitel: #291f1d;
  /* primary */
  --button-suspension-fill-color-sofitel: #291f1d;
  --button-suspension-border-sofitel: #291f1d;
  --button-suspension-plain-color-sofitel: #291f1d;

  /*默认*/
  --button-default-color-swissotel: #1b1919;
  --button-default-border-swissotel: #1b1919;

  /* primary */
  --button-primary-fill-color-swissotel: #1b1919;
  --button-primary-border-swissotel: #1b1919;
  --button-primary-plain-color-swissotel: #1b1919;
  --button-primary-special-fill-color-swissotel: #1b1919;
  --button-primary-special-border-swissotel: #1b1919;
  /* primary */
  --button-suspension-fill-color-swissotel: #1b1919;
  --button-suspension-border-swissotel: #1b1919;
  --button-suspension-plain-color-swissotel: #1b1919;

  /*默认*/
  --button-default-color-mercure: #5b2b5f;
  --button-default-border-mercure: #5b2b5f;

  /* primary */
  --button-primary-fill-color-mercure: #5b2b5f;
  --button-primary-border-mercure: #5b2b5f;
  --button-primary-plain-color-mercure: #5b2b5f;
  --button-primary-special-fill-color-mercure: #5b2b5f;
  --button-primary-special-border-mercure: #5b2b5f;
  /* primary */
  --button-suspension-fill-color-mercure: #5b2b5f;
  --button-suspension-border-mercure: #5b2b5f;
  --button-suspension-plain-color-mercure: #5b2b5f;

  /* 默认背景图片颜色 */
  --default-image-fill-color: #ebebeb;

  /* tab颜色 */
  --tab-separate-line-color: #ebebeb;
  --tab-font-color: #808080;
  --tab-icon-color: #333;
  --tab-selected-font-color: #b2945e;
  --tab-selected-icon-color: #b2945e;

  /* goods tag颜色 */
  --good-tag-color: #fff;
  
  /* 弹框 */
  --popup-mask-fill-color: rgba(0,0,0,.65);
  --popup-fill-color: #fff;
  --popup-close-color: #bfbfbf;

  /* 推荐位 */
  --recommendation-empty-fill-color: #e4e4e4;

  /* form */
  --form-error-fill-color: #faebeb;
  --form-error-border: #ee3e3e;
  --form-error-font-color: #e32c2c;
  --form-error-icon-color: #ee3e3e;

  --form-warn-fill-color: #e7ece6;
  --form-warn-border: #ef8549;
  --form-warn-font-color: #ab6239;
  --form-warn-icon-color: #ef8549;
}