.jfk-toast{
  &.is-modal{
    background-color: var(--popup-mask-fill-color);
  }
  &__cont{
    background-color: var(--popup-fill-color);
  }
  &.is-loading {
    .jfk-toast__main {
      background-color: var(--popup-fill-color);
    }
  }
}