.jfk-pages__coupon {
  .coupon-box {
    .title {
      @mixin line-down {
        transform: rotate(-90deg);
        transform-origin: center;
        width: 1.5em;
        top: 0.6em;
        bottom: auto;
        left: -0.5em;
      }
    }
  }
  .coupon-footer {
    background: #1f1f1f;
  }
}