.jfk-pages__record {
  .times {
    &:before {
      background-color: #363636;
    }
  }
  .record-list {
    .prize-btns {
      .jfk-button:disabled {
        background: #333;
        color: #7e7e7e;
      }
    }
  }
}