.jfk-tabbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__item {
    text-decoration: none;
    font-size: 1em;
    text-align: center;
  }
  &__cont{
    padding-bottom: calc(14 / 24 / 2)em;
    font-size: 1em;
    line-height: 1;
  }
  &__icon{
    font-size: calc(28 / 24)em;
  }
  &__label{
    padding-left: calc(14 / 24 / 2)em;
    font-size: 1em;
  }
}