.orderBtns{
    color: #bfbfbf;
    .btn-box{
        border-top: 1px solid  #3a3a3a;
        .btn-item{
            a{
                color: currentColor;
            }
 
            &:after{
                background-color: #3a3a3a;
            }
        }
    }
}