.orderBtns{
    .btn-box{
        border-top: 1px solid  #3a3a3a;
        .btn-item{
            i{
                color: #bfbfbf;
            }
            .btn-item-icon{
                color: #b2945e;
            }
            &:after{
                background-color: #3a3a3a;
            }
        }
    }
}