.orderBtns{
    .btn-box{
        border-top: 1px solid  #ebebeb;
        .btn-item{
            i{
                color: #333333;
            }
            .btn-item-icon{
                color: #b2945e;
            }
            &:after{
                background-color: #ebebeb;
            }
        }
    }
}