.orderBtns{
    color: #333333;    
    .btn-box{
        border-top: 1px solid  #ebebeb;
        .btn-item{
            a{
                color: currentColor;
            }
            &:after{
                background-color: #ebebeb;
            }
        }
    }
}