.orderDetail__state{
    &__main{
        .goldlight{
            position: absolute;
            left: 0;
            top: 0;
            height: px2rem(80);
        }            
    }
    &__tip{
        color: #808080;
    }
}