.jfk-notification {
  position: fixed;
  left: 50%;
  top: px2rem(20);
  width: calc((750 - 30 - 30) / 750 * 100%);
  transform: translate(-50%, 0);
  z-index: 999;
  border-radius: px2rem(var(--border-radius-big));

  &_content {
    justify-content: center;
    padding-top: calc(10 / 24)em;
    padding-bottom: calc(10 / 24)em;
    span {
      font-size: calc(30 / 24)em;
    }
    i {
      font-size: 1em;
      margin-left: calc(14 / 24)em;
    }
  }
}