.jfk-notification {
  &::after {
    background-image: linear-gradient(to left, #090909, #161616 50%, #090909);
  }
  &_content {
    background-color: var(--line-color-extra-light-black);
    color: #e18a56;
  }
}