.orderInfo{
    .moreinfo__item{
        .item__name{
            color: #808080;
        }
        .item__value{
            color: #333333;
        }
        .item__showTrade{
            color: #666666;
        }
    }
}