.orderDetail__state{
    &__main{

        &:before{
            content: '';
            display: inline-block;
            width: px2rem(3);
            height: px2rem(28);
            position: absolute;
            left: 0;
            top: 15px;
            background-color: #b2945e;
        }
        .goldlight{
            display: none;
        }            
    }
}