.jfk-pages {
  box-sizing: border-box;
  margin: 20px;
  background-color: var(--color-white);
  min-width: 980px;
  padding: {
    left: calc(46 / 1944 * 100%);
    right: calc(76 / 1944 * 100%);
    bottom: calc(54 / 1944 * 100%);
  }
}