.jfk-table {
  &--no-border{
    &.el-table{
      border: 0 none;
      &:after{
        width: 0px;
        background-color: transparent;
      }
    }
  }
  &--wrap-header{
    &.el-table{
      th {
        > .cell{
          line-height: 1.25;
          padding-top: 0.4em;
          padding-bottom: 0.4em;
        }
      }
      .jfk-table__header-label{
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}